src/flows/History_tracking.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>If_is_changed</name>
        <label>If is changed</label>
        <locationX>265</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flight_start_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_time_of_Flight__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Date_time_of_Flight__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_History_message</targetReference>
            </connector>
            <label>Flight start change</label>
        </rules>
        <rules>
            <name>If_flight_finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Finish_flight_time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Finish_flight_time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_history_flight_finish</targetReference>
            </connector>
            <label>If flight finish</label>
        </rules>
        <rules>
            <name>Departure_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Departure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Departure__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_history_departure</targetReference>
            </connector>
            <label>Departure change</label>
        </rules>
        <rules>
            <name>Destination_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Destination__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_history_destination</targetReference>
            </connector>
            <label>Destination change</label>
        </rules>
    </decisions>
    <interviewLabel>History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>History tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_history_departure</name>
        <label>New history departure</label>
        <locationX>384</locationX>
        <locationY>534</locationY>
        <inputAssignments>
            <field>Flight_Info__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flight info Departure was changed from {!$Record__Prior.Departure__c} -----to----{!$Record.Departure__c}</stringValue>
            </value>
        </inputAssignments>
        <object>History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_history_destination</name>
        <label>New history destination</label>
        <locationX>528</locationX>
        <locationY>369</locationY>
        <inputAssignments>
            <field>Flight_Info__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flight info Destination was changed from {!$Record__Prior.Destination__c} -----to----{!$Record.Destination__c}</stringValue>
            </value>
        </inputAssignments>
        <object>History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_history_flight_finish</name>
        <label>New history flight finish</label>
        <locationX>163</locationX>
        <locationY>532</locationY>
        <inputAssignments>
            <field>Flight_Info__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flight info finish flight was changed from {!$Record__Prior.Finish_flight_time__c} -----to----{!$Record.Finish_flight_time__c}</stringValue>
            </value>
        </inputAssignments>
        <object>History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_History_message</name>
        <label>New History message</label>
        <locationX>4</locationX>
        <locationY>359</locationY>
        <inputAssignments>
            <field>Flight_Info__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flight info was changed from {!$Record__Prior.Date_time_of_Flight__c} -----to----{!$Record.Date_time_of_Flight__c}</stringValue>
            </value>
        </inputAssignments>
        <object>History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>147</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>If_is_changed</targetReference>
        </connector>
        <object>Flight_Info__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
